# **Tingkat Kehadiran Siswa dan Dampaknya terhadap Prestasi Akademik**

## import library

In [1]:
import pandas as pd

## Dataset

In [2]:
path = "/content/drive/MyDrive/AVD 2026/vocational_student_behavioral_dataset_V4.csv"
df = pd.read_csv(path)
df

,student_id,age,gender,socioeconomic_status,region,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,...,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage,overall_performance_score,performance_label
0,S1861,19,Male,High,West,59,6,66.079121,22.0,2,...,12,60,55,88.9,100.0,93.2,91.9,91.67,93.31,High
1,S0354,24,Female,Medium,South,19,9,52.658783,50.0,2,...,2,60,41,50.4,36.6,57.3,39.5,68.33,46.44,Low
2,S1334,23,Male,Medium,North,44,2,45.854387,10.0,2,...,4,60,48,77.6,74.2,66.8,71.5,80.00,71.85,High
3,S0906,23,Female,Medium,East,43,4,48.918866,76.0,0,...,4,60,52,76.8,63.7,74.7,70.0,86.67,71.51,Medium
4,S1290,17,Male,High,North,28,2,59.170770,31.0,3,...,4,60,47,69.5,67.1,67.9,68.5,78.33,68.24,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S1131,24,Female,High,South,30,9,51.422920,24.0,5,...,3,60,49,67.8,65.6,76.2,73.2,81.67,71.50,Medium
1996,S1295,20,Female,Low,North,34,5,54.960325,95.0,6,...,3,60,51,76.0,61.9,74.4,78.6,85.00,73.48,Medium
1997,S0861,18,Female,Low,North,26,1,37.856134,54.0,1,...,4,60,46,69.3,63.2,75.5,78.7,76.67,72.76,Medium
1998,S1460,23,Male,High,South,46,8,51.736719,18.0,7,...,2,60,56,86.5,95.8,85.6,94.2,93.33,90.40,High
1999,S1127,19,Female,Medium,North,42,7,16.239677,84.0,5,...,9,60,49,69.9,69.2,73.9,66.3,81.67,69.88,Medium

# Business Understanding

## Bussiness objective

 Sekolah memiliki banyak data terkait aktivitas belajar siswa seperti jumlah login, durasi belajar, aktivitas forum, penggunaan internet, serta data nilai akademik dan kehadiran. Namun, pihak sekolah belum mengetahui secara pasti faktor apa yang paling berpengaruh terhadap performa akademik siswa. Oleh karena itu, diperlukan analisis untuk memahami hubungan antara perilaku belajar digital, kehadiran, dan hasil akademik agar sekolah dapat mengambil keputusan yang lebih tepat berbasis data. Tujuan dari analisis ini adalah untuk mengidentifikasi faktor-faktor yang memengaruhi performa akademik siswa serta membangun model prediksi kategori performa. Hasil analisis diharapkan dapat membantu sekolah mendeteksi siswa yang berisiko memiliki performa rendah dan memberikan intervensi yang sesuai untuk meningkatkan hasil belajar.

## Assess Situation

Sekolah sudah memiliki data sebanyak 2000 siswa dengan 26 variabel yang berisi informasi tentang data diri siswa, aktivitas belajar online, kehadiran, dan nilai akademik. Data ini cukup lengkap dan relevan untuk dianalisis karena mencakup faktor perilaku belajar dan hasil akademik. Memang ada sedikit data yang kosong di beberapa kolom.

## Analytic Goals


Tujuan dari analisis ini adalah untuk mengetahui faktor-faktor apa saja yang memengaruhi performa akademik siswa berdasarkan data yang tersedia, seperti aktivitas belajar online, kehadiran, serta nilai tugas dan ujian. Analisis ini juga bertujuan untuk memahami pola perbedaan antara siswa dengan performa tinggi, sedang, dan rendah. Selain itu, akan dibuat model prediksi yang dapat mengelompokkan siswa ke dalam kategori High, Medium, atau Low sehingga sekolah dapat lebih cepat mengetahui siswa yang membutuhkan perhatian atau bantuan tambahan.

## Project Plan

Tahapan proyek dimulai dengan proses pembersihan data, seperti menangani data yang kosong dan memastikan semua data sudah sesuai format. Setelah itu dilakukan analisis eksplorasi untuk melihat pola, tren, dan hubungan antar variabel, misalnya hubungan antara kehadiran dengan nilai akhir atau aktivitas login dengan performa siswa. Selanjutnya dilakukan pemilihan variabel yang paling berpengaruh, kemudian membangun model klasifikasi untuk memprediksi kategori performa siswa. Terakhir, hasil model akan dievaluasi untuk melihat tingkat akurasinya, lalu disusun rekomendasi yang dapat digunakan oleh pihak sekolah dalam mengambil keputusan.